require 'date'
<h1>Today</h1>


<p> The date is <% day = w%(Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday)%><% month = m%(January, February, March, April, May, June, July, August, September, October, November, December) </p>
